<h1>Listing destemails</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @destemails.each do |destemail| %>
      <tr>
        <td><%= destemail.email %></td>
        <td><%= link_to 'Show', destemail %></td>
        <td><%= link_to 'Edit', edit_destemail_path(destemail) %></td>
        <td><%= link_to 'Destroy', destemail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Destemail', new_destemail_path %>
