<div class='row'>
  <%= nested_form_for(@order, :html => {'data-parsley-validate' => '', 'parsley-use-html5-constraints' => false}) do |f| %>
  <div class='col-lg-7'>
    <% if @order.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <% flash.each do |key, value| %>
      <%if key == "alert"%>
      <div class="alert alert-danger alert-dismissable">
        <ul>
        <% value.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
    <% end %>
    
    <div class="form-group">
      <%= f.label :contract_number, '契約番号' %><br>
      <%= f.text_field :contract_number, class: 'form-control', 'data-parsley-type' => 'integer', 'required' => '' %>
    </div>
    
    <div class="form-group">
      <%= f.label :customer_number, '顧客番号' %><br>
      <%= f.text_field :customer_number, class: 'form-control', 'data-parsley-type' => 'integer', 'required' => '' %>
      
    </div>
  
    <div class="form-group">
      <%= f.label :destgroup_ids, '依頼先' %><br>
      <select id="order_destgroup_ids" name="order[destgroup_ids][]" multiple="multiple" required="true">
        <% @destgroup.each do |group| %>
          <% if group.orders.exists?(@order.id) %>
            <option value=<%= group.id %> selected="selected"><%= group.name %></option>
          <% else%>
            <option value=<%= group.id %>><%= group.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  
    <div class="form-group">
      <%= f.label :document, '添付ファイル' %><br>
      <% unless @order.new_record?%>
        <% @order_all.each do |o| %>
          <% if o.document_url.present? %>
            <% name = File.basename o.document_url%>
            <%= link_to(name, o.document_url) %>
          <% end %>
        <% end %>  
      <% else %>
        <%= f.fields_for :order_attachments do |o| %>
          <%= o.file_field :document %>
          <%= o.link_to_remove "フィールド削除" %>
        <% end %>
        <%= f.link_to_add "フィールドの追加", :order_attachments %>
      <% end %>
    </div>
  
    <% unless @order.new_record? %>
    <div class="form-group">
      <%= f.label :delivery_date, '予定納期' %><br>
      <%= f.text_field :delivery_date %>
    </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :status, 'ステータス' %><br>
      <%= f.select :status, ['確認中', '着手中', '作業完了'], {},  { :class => 'form-control' } %>
    </div>
  
    <% if @order.new_record? %>
    <div class="form-group">
      <%= f.label :user_ids, '作成者' %><br>
      <%= f.hidden_field 'user_ids', {:name => 'order[user_ids][]', :value => @user.id} %>
      <%= @user.username %>
    </div>
    <% else %>
    <div class="form-group">
      <%= f.label :user_ids, '作成者' %><br>
      <%= f.hidden_field 'user_ids', {:name => 'order[user_ids][]', :value => @owner.id} %>
      <%= @owner.username %>
    </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :user_ids, 'メンバー' %><br>
      <select id="order_user_ids_table" name="order[user_ids][]" multiple="multiple">
        <% @user_select.each do |user| %>
          <% if user.orders.exists?(@order.id) %>
            <option value=<%= user.id %> selected="selected"><%= user.username %></option>
          <% else %>
            <option value=<%= user.id %>><%= user.username %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  
    <div class="form-group">
      <%= f.label :web_url %><br>
      <%= f.text_field :web_url, class: 'form-control' %>
    </div>
    
    <% if @order.new_record? %>
    <div class="form-group">
      <%= f.label :order_comment, 'コメント' %><br>
      <%= f.text_area :order_comment, class: 'form-control', rows: "3" %>
    </div>
    <% end %>
    
  </div>
</div>

<div class='row'>
  <div class='col-lg-1'>
    <div class="actions">
      <%= f.submit '登録する', class: 'btn btn-success' %>
    </div>
  </div>
  <div class='col-lg-1 col-lg-offset-2'>
    <%= link_to 'キャンセル', orders_path, class: 'btn btn-danger' %>
  </div>
  <% end %>
</div>
<script>
$(document).ready(function()
{
    $("#order_destgroup_ids").bootstrapDualListbox({
    });
    $("#order_user_ids_table").bootstrapDualListbox({
    });
    $("#order_delivery_date").datepicker({
      dateFormat: 'yy/mm/dd',
       yearSuffix: '年',
      showMonthAfterYear: true,
      monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
    });
    
});

</script>