<div id='page-wrapper'>
  <div class='row'>
    <div class='col-lg-8'>
      
      <a name="head"></a>


      
      <h2 class='page-header'>収容情報</h2>
      
      <div class="well">
      <p>
        <strong>契約番号:</strong>
        <%= @order.contract_number %>
      </p>

      <p>
        <strong>顧客番号:</strong>
        <%= @order.customer_number %>
      </p>

      <p>
        <strong>依頼先:</strong>
        <% @order.destgroups.each do |group| %>
          <%= group.name %>
        <% end %>
      </p>

      <p>
        <strong>添付ファイル:</strong>
        <% @order_attachments.each do |o| %>
          <% if o.document_url.present? %>
            <% name = File.basename o.document_url%>
            <%= link_to(name, o.document_url) %>&nbsp;
          <% end %>
        <% end %>
      </p>

      <p>
        <strong>予定納期:</strong>
        <%= @order.delivery_date %>
      </p>

      <p>
        <strong>ステータス:</strong>
        <%= @order.status %>
      </p>

      <p>
        <strong>作成日:</strong>
        <%= @order.created_at %>
      </p>

      <p>
        <strong>Web url:</strong>
        <%= @order.web_url %>
      </p>

      <p>
        <strong>作成者:</strong>
        <% if @order.users[0].avatar.url.present? %>
          <%= image_tag @order.users[0].avatar.thumb.url %>
        <% end %>
        <%= @order.users[0].username %>
      </p>

      <p>
        <strong>メンバー:</strong>
        <% if @order.users.length >= 2 %>
          <% @order.users[1..-1].each do |member| %>
            <% if member.avatar.url.present? %>
              <%= image_tag member.avatar.thumb.url %>
            <% end %>
            <%= member.username %>
          <% end %>
        <% end %>
      </p>
      
      <%= link_to '収容情報編集', edit_order_path(@order), class: 'btn btn-outline btn-primary btn-sm'%>
      </div>
      <p class="fa fa-arrow-left "><%= link_to ' 顧客情報一覧へ戻る', orders_path %></p>

      <h3 class='page-header'>コメント</h3>
      
      <% if @order.order_comment.present? %>
        <% if @order.users[0].avatar.url.present? %>
          <%= image_tag @order.users[0].avatar.thumb.url %>
        <% end %>
        <%= @order.users[0].username %>
        <div class="well">
          <%= simple_format(@order.order_comment) %>
        </div>
      <% end %>

      <% @order.comments.each do |comment| %>
        <% if User.find(comment.user_id).avatar.url.present? %>
          <%= image_tag User.find(comment.user_id).avatar.thumb.url%>
        <% end %>
        <%= User.find(comment.user_id).username %>
        <div class="well">
          <p>
            <%= simple_format(comment.body) %>
          </p>
        <% if comment.comment_attachments.present? %>
          <% comment.comment_attachments.each do |a| %>
            <%if a.document_url.present?%>
              <% commname = File.basename a.document_url%>
              <p class="fa fa-paperclip"><%= link_to(commname, a.document_url) %></p>
            <% end %>
          <% end %>
        <% end %>
        </div>
      <% end %>

      <a name="foot"></a>
      <p class="fa fa-arrow-up"><%= link_to ' ページ上へ', order_path(@order, :anchor => 'head')%></p>

      <h4 class='page-header'>コメントを追加</h3>
      <%= form_for( [@order, comm = @order.comments.build] ) do |f| %>
      <p>
        <% if @user.avatar.url.present? %>
          <%= image_tag @user.avatar.thumb.url %>
        <% end %>
        <%= @user.username %><br />
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.text_area :body, class: 'form-control', rows: "8" %>
        <%= f.fields_for ([:comment_attachments, comm.comment_attachments.build]) do |c| %>
          <div class="field">
            <%= c.label :document, '添付ファイル' %>
            <%= c.file_field :document, :multiple => true, name: "comment_attachments[document][]"%>
          </div>
        <% end %>
      </p>
      <p>
        <%= f.submit 'コメント投稿', class: 'btn btn-success' %>
      </p>
      <% end %>
    </div>
  </div>
</div>
