<p id="notice"><%= notice %></p>

<p>
  <strong>Contract number:</strong>
  <%= @order.contract_number %>
</p>

<p>
  <strong>Customer number:</strong>
  <%= @order.customer_number %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @order.delivery_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Web url:</strong>
  <%= @order.web_url %>
</p>

<p>
  <strong>Order comment:</strong>
  <%= @order.order_comment %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
