<div class='row'>
  <div class='col-lg-6'>
  <%= form_for(@destgroup) do |f| %>
    <% if @destgroup.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <ul>
      <% @destgroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col-lg-4'>
    <div class="form-group">
      <%= f.text_field :name, class: 'form-control', autofocus: true, :placeholder => "グループ名"%>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-lg-8'>
    <div class="form-group">
      <label>メールアドレスの選択</label>
        <select id="destemail_ids" name="destgroup[destemail_ids][]" multiple="multiple">
          <% @destemails.each do |mail| %>
            <% if mail.destgroups.exists?(@destgroup.id) %>
              <option value=<%= mail.id %> selected="selected"><%= mail.email %></option>
            <% else %>
              <option value=<%= mail.id %>><%= mail.email %></option>
            <% end %>
          <% end %>
        </select>
    </div>
    <div class="actions">
      <%= f.submit '登録する', class: 'btn btn-success' %>
    </div>
    <div class="top-buffer">
      <%= link_to '新しくメールアドレス登録する', new_destemail_path, :class => "btn btn-outline btn-default" %>
    </div>
  </div>
</div>


<% end %>
<script>
  $(function()
{
    $("#destemail_ids").bootstrapDualListbox({
    });
});
</script>
