<div class='row'>
  <div class='col-lg-7'>
  <%= form_for(@destgroup, :html => {'data-parsley-validate' => '', 'parsley-use-html5-constraints' => false}) do |f| %>
    <% if @destgroup.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <ul>
      <% @destgroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.text_field :name, class: 'form-control', autofocus: true, :placeholder => "グループ名", 'required' => ''%>
    </div>


    <div class="form-group">
      <label>メールアドレスの選択</label>
        <select id="destemail_ids" name="destgroup[destemail_ids][]" multiple="multiple" required="true">
          <% @destemails.each do |mail| %>
            <% if mail.destgroups.exists?(@destgroup.id) %>
              <option value=<%= mail.id %> selected="selected"><%= mail.email %></option>
            <% else %>
              <option value=<%= mail.id %>><%= mail.email %></option>
            <% end %>
          <% end %>
        </select>
    </div>
  </div>
</div>
  
<div class='row'>
  <div class='col-lg-2'>
    <div class="actions">
      <%= f.submit '登録する', class: 'btn btn-success' %>
    </div>
  </div>
  <div class='col-lg-2 col-lg-offset-1'>
    <%= link_to 'キャンセル', destemails_path, class: 'btn btn-danger' %>
  </div>
</div>

<div class='row'>
  <div class="top-buffer">
    <%= link_to '新しくメールアドレス登録する', new_destemail_path, :class => "btn btn-outline btn-default" %>
  </div>
</div>

<% end %>
<script>
  $(function()
{
    $("#destemail_ids").bootstrapDualListbox({
    });
});
</script>
