<h1>Listing destgroups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @destgroups.each do |destgroup| %>
      <tr>
        <td><%= destgroup.name %></td>
        <td><%= link_to 'Show', destgroup %></td>
        <td><%= link_to 'Edit', edit_destgroup_path(destgroup) %></td>
        <td><%= link_to 'Destroy', destgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Destgroup', new_destgroup_path %>
