<h1>Listing comment_attachments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_attachments.each do |comment_attachment| %>
      <tr>
        <td><%= comment_attachment.comment_id %></td>
        <td><%= comment_attachment.document %></td>
        <td><%= link_to 'Show', comment_attachment %></td>
        <td><%= link_to 'Edit', edit_comment_attachment_path(comment_attachment) %></td>
        <td><%= link_to 'Destroy', comment_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment attachment', new_comment_attachment_path %>
